:root{
    --var-dl-btn-width: min(100%, 17em);
}
html{
    width: 100%;
    margin: 0;
    padding: 0;
}
::selection{
    background-color: #8273e4b2;
}
img:not(.download_btn){
    user-select: none;
    -webkit-user-drag: none;
}
p,h1,h2,h3,h4{
    text-shadow: 3px 2px white;
}
span.highlight{
    text-shadow: none;
}
.download_btn{
    -webkit-user-drag: none;
}
body{
    padding-left: 80px;
    padding-right: 60px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inria Serif", serif;
    background: url(line.svg);
    background-size: 1250px auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;
}
img { 
    display: block; 
    max-width: 100%; 
}

.container{
    padding-top: 40px;
}

.logo{
    height: 45px;
}

/*FIRST*/

.first{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}



.heropicture{
    padding-right: 130px;
    
}

.title{
    padding-top: 160px;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
    
}

.title_right{
    padding-top: 160px;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
    float: right;
}

.highlight{
    color: white;
    background-color: #8373E4;
    padding: 0 4px 4px 4px; 
    line-height: 1.5;
   
}
.left{
    width: 50%;
}
.right{
    width: 50%;
}
.button_div{
    display: flex;
    gap: 20px;
    padding-top: 100px;
}
a{
    width: var(--var-dl-btn-width);
}

.download_btn{
    /* height: 120px; */
    width: var(--var-dl-btn-width);  
}
.review{
    padding-top: 50px;
}

.profilpic{
    height: 60px;
}

.review_stars{
    display: flex;
}

.star{
    height: 50px;
    padding-top: 20px;
}

.review_text{
    font-size: 25px;
    margin: 0;
}

/*SECOND*/

.second_content{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.second_text{
    font-size: 40px;
    float: right;
}

.swiping_pic{
    padding-top: 30px;
}


/*THIRD*/


.third_content{
    display: flex;
    padding-top: 150px ;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    width: 100%;
}

.button_div2{
    display: flex;
    flex-direction: column;
}


/*RESZPONZÍV*/

@media (max-width: 850px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 100vw;
    }

    .first, .second_content, .third_content {
        flex-direction: column; 
        align-items: center; 
        height: auto;
        width: 100%;
        
    }

    .title, .title_right {
        font-size: 50px; 
        padding-top: 100px;
        
    }

    .heropicture, .swiping_pic {
        padding-right: 0;
        height: auto;
        max-width: 100%;
    }

    .download_btn {
        height: unset;
        width: min(40vw, 40em); 
    }

    .second_text{
        font-size: 30px; 
        text-align: center;
        
    }
    
    .button_div2 {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 10px;
    }
    #shipping-pic{
        padding-left: 16vw;
    }
    .title_right{
        float: left;
        text-align: center;
        width: 100%;
    }
    .left, .right{
        width: 100%;
    }
    .right{
        display: flex;
        justify-content: center;
    }
    .first h1, .first p{
        text-align: center;
    }
    .first .review{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .first .button_div{
        align-items: center;
        justify-content: center;
    }
    body{
        background-position: right;
    }
}